/* Put your style information here! */
/* Put your style information here! */

html, body {
    height: 100%;

    }
    
html {
    display: table;
    margin: auto;
    }


body{
    /* background-color: #111010; */
    background-color: white;
    /* display: table-cell; */
    display: table-cell;
    text-align: justify;

    vertical-align: middle;
    font-family: 'Patrick Hand', cursive;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

h1{
    font-size: 45px;
    /* color: rgb(250, 179, 179) !important; */
    color: black;
    margin-top: 15px;
    margin-bottom: 25px;
}

h3{
    margin-top: 5%;
    margin-bottom: 3%;
    color: grey;
    
    text-decoration-line: underline;

}

h4{
    /* text-decoration-line: underline; */
    text-transform: uppercase;
    color: grey;
}

.subheadings{
    margin-top: 25px;
    margin-bottom: 15px;
}




.image1{
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: dotted;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 40%;
    height: 40%;
}
.image2{
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: dotted;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 60%;
    height: 70%;
}

.image{
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 300px;
    height: 500px !important;
}
.image3{
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 800px;
    height: 300px !important;
    border-style: solid;

}
.page {
    font-size: 21px;
    color: black;
}

.bg-light {
    background-color: rgb(223, 196, 196) ;
    height: 60px;
    }


.responsive {
    padding: 0 6px;
    float: left;
    width: 49%;

    }
    
@media only screen and (max-width: 1200px) {
     .responsive {
        width: 100%;
    }
}
